# Compiler files
cache/
out/
crates/**/target/

# Invariant testing
echidna/
crytic-export/

# Ignores development broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

node_modules/

# Bytecode
bytecode/

# soldeer
dependencies/
